
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #F7F7F7;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #394867;
  color: #fff;
  width: 20%;
}
#boundary{
  margin: 0px 30px 0;
  display: relative;
  width: auto;
  height: 0.2px;
  background-color: #747e92;
}
.sideButton button{
  color: rgb(207, 207, 207);
}
.sideButton:hover{
  z-index: 1;
  color: rgb(218, 4, 4);
}
#accountInfo{
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
}
#userTag{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 200px;
  font-size: 25px;
}
#dashBtns{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 84%;
}
#dashBtns button{
  border-style: none;
  border-radius: 0 20px 20px 0;
  padding-left: 30px;
  text-align: left;
  font-size: 16px;
  width: 90%;
  height: 60px;
}
.active{
 background-color: #576580;
}
.buttonColor{
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0);
}

#button1{
  margin-top: 40px;
}

#sTime{
  display: flex;
  justify-items: center;
  width: 100%;
  height: 8%;
}
#timeDiv{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#timeDivider{
  margin: 0 5px 0;
}
#timeContainer{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul li{
  list-style-type: none;
}
.sidebar h1 {
  margin: 0 0 20px
}
.pagecontainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 100%;
}
.navbar{
  height: 8%;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 0 5px;
}
#navbarPart1{
  font-size: 22px;
  font-weight: 500;
  padding: 5px;
  text-align: center;
  height: 100%;
  width: 35%;
}
#navbarPart2{
  font-size: 22px;
  font-weight: 500;
  padding: 5px;
  text-align: center;
  height: 100%;
  width: 30%;
}
#navbarPart2 img{
  height:40px;
}
#navbarPart3{
  font-size: 22px;
  font-weight: 500;
  padding: 5px;
  text-align: center;
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 20px;
}

#adminlogoutBtn{
  width: 35px;
  height: 35px;
  margin: 0 5px 0;
  background:none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
#adminOptions{
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background:none;
  border-radius: 10px;
  border: none;
  cursor:pointer;
}
#adminlogoutBtn img{
  margin: 5px;
  width: 25px;
  height: auto;
}
#adminOptions img{
  margin: 0;
  width: 30px;
}
.page-window{
  padding: 0 10px 10px;
  height: 90%;
  width: 100%;
  bottom: 0;
}
#pageTop{
  width: 100%;
  height: 70px;
  background-color: red;
}

.pages{
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 0 10px 10px;
  border-radius: 10px;
}
/* paginate */

.paginateContainer{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;  
}
.paginate{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 14px;
  line-height: 30px;

}
.classPaginate{
  text-align: center;
  border-radius: 5px;
  min-width: 30px;
  max-width: auto;
  height: 100%;
  background:none;
  border: 1px solid #283971;
  margin: 0 5px 0;
  cursor: pointer;
}
.activePaginate{
  width: 30px;
  height: 100%;
  background-color: #283971;
  color: white;
  cursor: pointer;
}
.nextPaginate{
  background-color: rgb(88, 88, 88);
  color: white;
  width: 70px;
  border-radius: 5px;
  text-align: center;
  margin-left: 20px;
  cursor: pointer;
}
.prevPaginate{
  background-color: rgb(88, 88, 88);
  color: white;
  width: 70px;
  border-radius: 5px;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}