.mainPage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.topBar{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.dpStart{
    margin: 0 10px 0;
    height: 100%;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dpEnd{
    margin: 0 10px 0;
    height: 100%;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.category{
    margin: 0 30px 0;
    height: 100%;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.allSelect{
    width: 160px;
    height: 40px;
    border-radius: 10px;
}
.pdateStart{
    height: 40px !important;
    width: 140px !important;
    border-radius: 10px !important;
}

.pdateEnd{
    height: 40px !important;
    width: 140px !important;
    border-radius: 10px !important;
}
.export{
    height: 100%;
    width: 100px;
    margin-left: auto;
}
.exportContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.export img{
    height: 20px;
    margin: auto;
}
.export img:hover{
    cursor: pointer;
}
.label{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.allStatistics{
    height: 580px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.headerStatistics{
    padding: 0 10px 0;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.StatisticsContainer1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.panel1Title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.generalStatistics{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}   
.panel1{
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 10px 0;
}
.tableTitle{
    font-size: 16px;
    color: #4c4c4c;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.floorStatitics{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.floorStatitics::-webkit-scrollbar {
    width: 14px;
    
  }
  
.floorStatitics::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    
  }
  
.floorStatitics::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    
  }
  
.floorStatitics::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
.floorStatitics::-webkit-scrollbar-thumb:horizontal {
    margin-right: -20px !important;
  }
  
.floorStatitics::-webkit-scrollbar-thumb:vertical {
    margin-bottom: -20px;
    
  }
.perfloorStats{
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px 0;
}
.allperfloor{
    margin-top: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.statsboxA{
    width: 45%;
    height: 80px;
    padding: 0 10px 0;
    margin: 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    color: #2a2a2a;
}
.statsboxA h4{
    align-items: flex-start;
    font-weight: 100;
}
.statsboxA p{
    font-size: 30px;
}
.floorTitleA{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    margin:0;
    color: #283971;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.divider{
    width: 70%;
    height: 0.2px;
    margin: 10px 0 10px;
    background-color: gray;
}
.stats1a{
    width: 300px;
    height: 100%;
    padding: 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #283971;
    color: white;
    margin: 0 10px 0;
    border-radius: 10px;
}
.stats1a h4{
    font-size: 14px;
    align-items: flex-start;
    font-weight: 100;
}
.stats1a p{
    font-size: 30px;
}
.stats2a{
    width: 300px;
    height: 100%;
    padding: 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #283971;
    color: white;
    margin: 0 10px 0;
    border-radius: 10px;
}
.stats2a h4{
    font-size: 14px;
    align-items: flex-start;
    font-weight: 100;
}
.stats2a p{
    font-size: 30px;
}
.stats3a{
    width: 300px;
    height: 100%;
    padding: 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #283971;
    color: white;
    margin: 0 10px 0;
    border-radius: 10px;
}
.stats3a h4{
    font-size: 14px;
    align-items: flex-start;
    font-weight: 100;
}
.stats3a p{
    font-size: 30px;
}
.stats4a{
    width: 300px;
    height: 100%;
    padding: 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #283971;
    color: white;
    margin: 0 10px 0;
    border-radius: 10px;
}
.stats4a h4{
    font-size: 14px;
    align-items: flex-start;
    font-weight: 100;
}
.stats4a p{
    font-size: 30px;
}
.ptable2{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.table2Row1{
    margin: 10px 0 10px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.boundary{
    margin: 0px 30px 0;
    display: relative;
    width: auto;
    height: 0.2px;
    background-color: #747e92;
}

.panel2{
    width: 50%;
    height: 100%;
    padding: 0 10px 0;
}
.panel2Title{
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
@media screen and (max-height: 700px) {
    .allStatistics{
        height: 520px;
    }
}