.pageTop{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
}
.pageFilter1{
    margin: 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
}
.tab{
    border-radius: 10px;
}
.tab option{
    font-size: 20px;
}
.selectInput{
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.selectInput::after {
    content: "\25BC";
    font-size: 16px;
    color: #a10404;
    margin-left: 5px;
}

.optionSelect{
    margin: 10px 0 10px;
    font-size: 20px;
}

.pageFilter2{
    margin: 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
}


.dateInput{
    width: 150px;
    height: 40px;
}


.datePicker{
    height: 40px !important;
    border-radius: 10px !important;
}
.pageFilter3{
    margin: 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.searchForm{
    width: 250px;
    height: 40px;
    padding: 0 10px 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border: 1px solid #283971;
    border-radius: 10px;
    z-index: 5;
}
.pageFilter4{
    margin: 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.searchInput{
    font-size: 18px;
    height: 38px;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    
}
.searchInput:focus{
    outline: none;
    border: none;
}
.searchBtn{
    width: 20px;
    height: auto;
}
.searchBtn:hover{
    cursor: pointer;
}
.searchBtnBox{
    background: none;
    border: none;

}
.reservationTable{
    height: 400px;
    width: 100%;
}
.tableHeaders{
    width: 100% !important;
}
thead{
    width: 100%;
}


/* TABLE DECORATIONS */

.tableHeaders table {
    border-collapse: collapse;
    width: 100%;
  }
  
.tableHeaders th, td {
    text-align: center;
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;

  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  td button {
    padding: 6px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }



  .tableContainer{
    width: 100%;
    height: 40px;
}
.tableContents{
    width: 100%;
}
.tableBody{
    width: 100%;
    width: 300px;
}
.tableHeader th,td{
    padding: 8px;
    text-align: center;
}
.editButton{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: #42AB46;
    border-radius: 5px;
    padding: 0;
}
.editButton img{
    width: 20px;
}
.deleteButton{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: #DF4435;
    border-radius: 5px;
    padding: 0;
}
.deleteButton:hover{
    border: 1px solid#DF4435;
    background: white;
    color: #DF4435;
    padding: 0;
}
.deleteButton img{
    width: 20px;
}

.tableHeader th:nth-child(1){
    width: 60px;
}
.tableBody td:nth-child(1){
    width: 60px;
}
.tableHeader th:nth-child(2){
    width: 100px;
}
.tableBody td:nth-child(2){
    width: 100px;
}
.tableHeader th:nth-child(3){
    width: 100px;
}
.tableBody td:nth-child(3){
    width: 100px;
}
.tableHeader th:nth-child(4){
    width: 100px;
}
.tableBody td:nth-child(4){
    width: 100px;
}
.tableHeader th:nth-child(6){
    width: 130px;
}
.tableBody td:nth-child(6){
    width: 130px;
}
.tableHeader th:nth-child(7){
    width: 100px;
}
.tableBody td:nth-child(7){
    width: 100px;
}
.tableHeader th:nth-child(8){
    width: 150px;
}
.tableBody td:nth-child(8){
    width: 150px;
}

.pagination {
    display: flex !important;
    justify-content: center !important;
    list-style: none !important;
    padding: 0;
    width: 100% !important;
    background-color: red !important;
  }
  
  .pagination li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .pagination li a {
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #555;
  }
  
  .pagination li.active a {
    background-color: #007bff;
    color: #fff;
  }
  
  .pagination li a:hover {
    background-color: #f0f0f0;
  }
