.pageTop{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.pageFilter1{
    margin: 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selectInput{
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.selectInput::after {
    content: "\25BC";
    font-size: 16px;
    color: #a10404;
    margin-left: 5px;
}

.optionSelect{
    margin: 10px 0 10px;
    font-size: 20px;
}

.pageFilter2{
    margin: 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.dateInput{
    width: 150px;
    height: 40px;
}


.datePicker{
    height: 40px !important;
    border-radius: 10px !important;
}
.pageFilter3{
    margin: 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.searchForm{
    width: 250px;
    height: 40px;
    padding: 0 10px 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border: 1px solid #283971;
    border-radius: 10px;
    z-index: 5;
}
.searchInput{
    font-size: 18px;
    height: 38px;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    
}
.searchInput:focus{
    outline: none;
    border: none;
}
.searchBtn{
    width: 20px;
    height: auto;
}
.searchBtn:hover{
    cursor: pointer;
}
.searchBtnBox{
    background: none;
    border: none;

}
.reservationTable{
    height: 400px;
    width: 100%;
}
.tableHeaders{
    width: 100% !important;
}
thead{
    width: 100%;
    background-color: red;
}


/* TABLE DECORATIONS */

.tableHeaders table {
    border-collapse: collapse;
    width: 100%;
  }
  
.tableHeaders th, td {
    text-align: center;
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;

  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  td button {
    padding: 6px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }



.tableContents {
    border-collapse: collapse;
    width: 100%;
    background-color: red;
  }
  
.tableContents tr, td {
    text-align: center;
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;

  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  td button {
    padding: 6px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }