
.main_div{
    height: 100%;
    width: 100%;
    display: block;
}
.title{
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Ubuntu', sans-serif;
    color: #3D3C3C;
}
.text h3{
    font-weight: 400;
}
.container {
    margin:auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    flex: 1;
}
.box {
    background-color: red;
    display: block;
    text-align: center;
    justify-content: center;
    margin: 0;
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border: 3px solid #283971;
    box-sizing: border-box;
    border-radius: 10px;
}
.box:hover{
    background-color: #dcdcdc;
}
.Btn{
    height: 150px;
    width: 150px;
    margin-top: 30px;
}
.box-text{
    font-size: 25px;
    font-family: 'Source Code Pro', monospace; /*Icon Font Styles*/
    color: #555353;
}
.Logout{
    display: block;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 100px;
    height: 80px;
    right: 40px;
    top: 40px;
    background-color: none;
}
.back-icon{
    background-color: rgb(233,230,230,0);
    border: none;
}
.Logout p{
    font-size: 10px;
    font-weight: 600;
}
.Logout img{
    height: 40px;
    width: 40px;
}

/* Media queries */
  
  @media screen and (max-height: 700px) {
    /* Apply these styles when the viewport is shorter than 600px */
    .title{
        font-size: 15px;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 80px;
    }
}