.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: white;
    border-radius: 10px;
    height: 400px;
    width: 500px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .modalHeader{
    margin-top: 20px;
    height: 40px;
    width: 100%;
  }
  .modalBody{
    width: 100%;
    height: 250px;
  }
  .section1{
    width: 100%;
    height: 60px;
    padding: 0 30px 0;
  }
  .secLabel1{
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  .secInput1{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    font-size: 16px;
    margin-right: 100%;
  }
  .section2{
    width: 100%;
    height: 60px;
    padding: 0 30px 0;
  }
  .secLabel2{
    width: 100%;
    display: flex;
    align-items: flex-start;  
  }
  .secInput2{
    width: 310px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    font-size: 16px;
    margin-right: 100%;
  }
  .section3{
    width: 100%;
    height: 60px;
    padding: 0 30px 0;
  }
  .secLabel3{
    width: 100%;
    display: flex;
    align-items: flex-start;  
  }
  .secType3{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    font-size: 16px;
    margin-right: 100%;
  }
  .section4{
    width: 100%;
    height: 60px;
    padding: 0 30px 0;
  }
  .secLabel4{
    width: 100%;
    display: flex;
    align-items: flex-start;    
  }
  .secInput4{
    width: 240px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  .passMaker{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: row;
  }
  .passGenerate{
    border-radius: 10px;
    border: none;
    background-color: #474747;
    color: white;
    width: 150px;
    height: 40px;
    cursor: pointer;
  }
  .modalFooter{
    margin-top: 10px;
    height: 60px;

  }
  .confirmBtn,
  .cancelBtn {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .confirmBtn {
    background-color: #283971;
    color: white;
    border: none;
  }
  .cancelbtn{
    color: rgb(205, 205, 205)
  }
  .cancelBtn {
    border: 1px solid #283971;
    background-color: white;
    color: #283971;
    border: none;
  }
  .cancelBtn:hover{
    background-color: #a9a9a9;
    color: white;
  }
  
  h3{
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
  }
  