.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modalContent {
    padding: 20px;
    border-radius: 10px;
    height: 560px;
    width: 800px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #F7F7F7;
  }
  .modalHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 20px;
    width: 100%;
  }
  .modalTitle{
    font-size: 20px;
    font-weight: 500;
    margin-right: auto;
  }
  .modalClose{
    cursor: pointer;
  }
  .modalBody{
    width: 100%;
    height: 400px;
    background-color: white;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0 20px; 
  }
  .modalFooter{
    margin-top: 10px;
  }
  .confirmBtn,
  .cancelBtn {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .confirmBtn {
    background-color: #283971;
    color: white;
    border: none;
  }
  .cancelbtn{
    color: rgb(205, 205, 205);
  }
  .cancelBtn {
    border: 1px solid #283971;
    background: none;
    color: #283971;
    border: none;
  }
  .cancelBtn:hover{
    background-color: #a9a9a9;
    color: white;
  }
  
  h3{
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
  }
  .modalHeader img{
    margin-top: 20px;
    height: 40px;
    width: 40px;
  }

  .section1{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .compo1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    margin-left: 20px;
  }
  .compo1 p{
    text-align: start;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .compo1 input{
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;  
    background-color: rgb(226, 226, 226);
  }
  .compo2{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    margin-left: 20px;
  }
  .compo2 p{
    text-align: start;
    font-size: 14px;
    margin-bottom: 5px;
  }
.typeSelect{
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;  
    padding: 0 10px 0;
    border: 1px solid black;
  }
.section2{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  margin: 20px 0 5px;
  }
.compo3{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    margin-left: 20px;
  }
  .compo3 p{
    text-align: left;
  }
  .compo3 input{
    width: 100%;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
  }
  .compo4{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    margin-left: 20px;
  }
  .compo4 p{
    text-align: left;
    font-size: 14px;
  }
  .compo4 input{
    width: 100%;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
  }
  .section3{
    width: 100%;
    height: 60px;
    margin: 5px 0 5px;
  }

  .compo5{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .compo5 p{
    text-align: left;
    font-size: 14px;
  }
  .compo5 input{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    font-size: 14px;

  }
  .section4{
    width: 100%;
    height:60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 0 5px;

  }
  .parentCompo67{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }
  .compo6{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .compo6 p{
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
  }
  .compo6 .collegeSelect{
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 14px;
    padding: 0 10px 0;
    
  }
  .compo7{
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .compo7 p{
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .compo7 input{
    height: 35px;
    width: 100%;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid black;
  }
  .compo8{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .compo8 p{
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .compo8 .genderSelect{
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    font-size: 14px;
  }
  .section5{
    width: 100%;
    height:60px;
    margin: 20px 0 5px;
    display: flex;
    flex-direction: row;
  }
  .compo9{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }
  .compo9 p{
    font-size: 14px;
    text-align: left;
  }
  .passMaker{
    width: 100%;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 10px; 
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    outline: none;
    background-color: white;
  }
    .secInput4{
    border: none;
    background: none;
    outline: none;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
  }
.visiButton{
  background:none;
  outline: none;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 30px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.visiButton img{
  height: auto;
  width: 100%;
}
.compo10{
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.editButton{
  height: 35px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.editButton button{
  height: 100%;
  width: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-left: 20px;
  background-color: gray;
  color: white;
}