.rsmaindiv{
  width: 100%;
  height: 100%;
  position: relative;
}
.rscenterdiv{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 90%;
  width: 95%;
  border-radius: 10px;
  background-color: white;
  display: inline-block;
  display: flex; 
  align-items: center; 
}
.rsleft-panel{
  display: flex;
  flex-direction: column;
  float: left;
  height: 100%;
  width: 50%;
  display: flex;
  color: #323131;

}
.divider{
  position: absolute;
  height: 80%;
  width: .2px;
  background-color: rgb(154, 154, 154);
  left: 50%;
  transform: translateX(-50%);
}
.rsright-panel{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
}
#rssec1{
  width: 100%;
  height: 10px;
  margin-top: 40px;
  margin-left: 40px;
}
#rssec1 p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
}
#rssec2{
  margin-top: 10px;
  width: 100%;
  height: 40px;
}
#rssec2 p{
  color: #797979;
  margin-left: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 500;
}
#rssec3{
  margin-top: 20px;
  width: 100%;
  height: 10px;
}
#rssec3 p{
  margin-left: 40px;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
#rssec4{
  display: flex;
  margin: 20px 60px 0;
  width: auto;
  height: 60px;
}
#part1{
  width: 400px;
}
#rscomp1{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  height: 20px;
}
#rscomp2{
  height: 30px;
}

#rscomp2 .conf{
  font-family: Verdana, sans-serif;
  font-size:20px;
  font-weight: 400;
  color: #797979;
  width: 100%;
  height: 30px;
  max-width: 100%;
  max-height: 250px;
  padding: 0;
  text-align: left;
  border-style: none;
}
#part2{
  width: 250px;
}
#rscomp3{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  height: 20px;
}
#rscomp4{
  height: 30px;
}

#rscomp4 .from{
  font-family: Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #797979;
  width: 100%;
  height: 30px;
  max-width: 100%;
  max-height: 250px;
  text-align: left;
  border-style: none;
}
#part3{
  width: 250px;
}
#rscomp5{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  height: 20px;
}
#rscomp6{
  height: 30px;

}
#rscomp6 input{
  font-family: Verdana, sans-serif;
  font-size: 20px;
  color: #797979;
  width: 100%;
  height: 30px;
  max-width: 100%;
  max-height: 250px;
  padding: 0;
  text-align: left;
  border-style: none;
}
#rssec5{
  margin: 10px 100px 20px;
  display: relative;
  width: auto;
  height: 0.2px;
  background-color: black;  
}
#rssec6{
  margin-left: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
}
#rssec7{
  display: flex;
  margin: 10px 60px 0;
  width: auto;
  height: 60px;
}
#part4{
  height: 100%;
  width: 400px;
}
#part5{
  height: 100%;
  width: 200px;
}
#rscomp7{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  height: 20px;
}
#rscomp8{
  margin-top: 4px;
  width: 100%;
  height: 40px;
}
.idnumber{
  font-family: Verdana, sans-serif;
  background-color: rgb(243, 243, 243);
  border-style: none;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  height: 40px;
  max-width: 100%;
  max-height: 250px;
  padding-left: 20px;
  text-align: left;
}
#idnum:focus{
  border: 1px solid gray;
}
#idnum::placeholder{
  font-family: Verdana, sans-serif;
  color: gray;
  font-size: 20px;
}
#rscomp9{
  width: 100%;
  height: 23px;
}
#rscomp9 img{
  position: absolute;
  margin-left: 120px;
  height: 15px;
  width: auto;
}
#rscomp10 .scanid{
  height: 40px;
  width: 80px;
  margin: 0 40px 0;
  border-radius: 10px;
  border-style: none;
  color: white;
  background-color: #385DBB;
}

#rssec8{
  display: flex;
  margin: 10px 60px 0;
  width: auto;
  height: 60px;
}
#part6{
  width: 400px;
  height: 50px;
}
#rscomp11{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  height: 20px;
}
#rscomp12{
  height: 30px;
}

#rscomp12 .name{
  font-family: Verdana, sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #797979;
  width: 100%;
  height: 30px;
  max-width: 100%;
  max-height: 250px;
  padding: 0;
  text-align: left;
  border-style: none;
}

#rssec9{
  display: flex;
  margin: 0 60px 0;
  width: auto;
  height: 60px;
}
#part7{
  width: 180px;

}
#rscomp13{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  height: 20px;
}
#rscomp14{
  height: 30px;
}

#rscomp14 .course{
  font-family: Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #797979;
  width: 100px;
  height: 30px;
  max-width: 110px;
  max-height: 250px;
  text-align: left;
  border-style: none;
}
#part8{
  width: 180px;
}
#rscomp15{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  height: 20px;
}
#rscomp16{
  height: 30px;
}

#rscomp16 .year{
  font-family: Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #797979;
  width: 100px;
  height: 30px;
  max-width: 110px;
  max-height: 250px;
  padding: 0;
  text-align: left;
  border-style: none;
}
#rscomp17{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  height: 20px;
}
#rscomp18{
  height: 30px;
}

#rscomp18 .contact{
  background-color: rgb(243, 243, 243);
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  height: 30px;
  max-width: 100%;
  max-height: 250px;
  padding-left: 20px;
  text-align: left;
}
#contactno::placeholder{
  color: gray;
  font-size: 16px;
}

#rssec10{
  margin: 10px 100px 0;
  display: relative;
  width: auto;
  height: 0.2px;
  background-color: black;  
}

#rssec10_1{
  margin-top: 10px;
  margin-left: 40px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 700;
}
#rscomp19{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

#compo1{
  width: 300px;
}
#plabel{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  height: 20px;
}
#dlabel{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  height: 20px;
}
#compo2{
  margin: 0 0 0 30px;
  width: 60px;
}
#pinput textarea{
  background-color: rgb(243, 243, 243);
  height: 80px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  vertical-align: baseline;
  resize: none;
}
#rssec11{
  display: flex;
  margin: 10px 30px 0;
  width: 100%;
  height: 100px;
  
}
.drop-down {
  position: relative;
  display: inline-block;
}

.dropdown2 {
  height: 40px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 100px;
  background-color: rgb(243, 243, 243);
}

/* Style the dropdown arrow */
.dropdown2::after {
  content: "\25BC";
  font-size: 16px;
  color: #aaa;
  margin-left: 5px;
}

/* Style the dropdown list */
#browsers {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  background-color: rgb(243, 243, 243);
  border: 1px solid #000000;
  border-top: none;
  width: 150px;

}

#browsers option {
    font-size: 18px;
  color: #333;
  cursor: pointer;
}

#rssec12{
  width: 100%;
  height: 40px;
  font-size: 18px;
  padding-left: 30px;
  padding-top: 30px;
  color: #283971 ;
  
}
#rssec13{
  height: 430px;
  margin: 10px 60px 0;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: red;
  overflow-y: auto;
}

#rssec13::-webkit-scrollbar {
    width: 14px;
  }
  
  #rssec13::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  #rssec13::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  #rssec13::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  #rssec13::-webkit-scrollbar-thumb:horizontal {
    margin-right: -20px;
  }
  
  #rssec13::-webkit-scrollbar-thumb:vertical {
    margin-bottom: -20px;
  }
#inputbox{
  width: 230px;
  height: 60px;
  display: flex;
  flex-direction: column;
  margin: 10px 0 0;
}
.inputlabel{
  font-size: 14px;
  width: 100%;
  height: 20px;
}
.inputCase{
  width: 100%;
  height: 35px;
  border: 0.5px solid rgb(56, 56, 56);
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* .inputCase{
  font-size: 16px;
  width: 100%;
  height: 35px;
  border: 1.5px solid rgb(235, 0, 0);
  border-radius: 5px;
} */
.userinput{
  font-size: 16px;
  padding: 0 10px 0;
  border: none;
  background-color: rgb(200, 200, 200, 0);
  height: 35px;
  width: 90%;
  outline: none;
}

.userinput:focus{
  outline: none;
  border: none;
}
.inputmessage{
  font-size: 11px;
  color: red;
}
.deleteInput{
  background: none;
  border: none;
  font-weight: 500;
  padding-right: 5px;
  font-size: 20px;
}
.deleteInput:hover{
  cursor: pointer;
}

.inputnotes{
  height: 80%;
  width: 40%;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px;
  color: rgb(73, 73, 73);
  margin: 10px 20px 10px;
}
#rssec14{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#btnHolder1{
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
.buttonContainer{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;

}
#rssec14 .submitbtn{
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  height: 40px;
  width: 120px;
  background-color: #385DBB;
  color: white;
  border-style: none;
  border-radius: 10px;
  margin: 0 40px 0;
  position: absolute;
  right: 0;
}
#rssec14 .cancelbtn{
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #385DBB;
  height: 40px;
  width: 120px;
  border: 1px solid #385DBB;
  border-radius: 10px;
  position: absolute;
  right: 180px;
}

@media screen and (max-height: 700px) {

  #rssec1{
      width: 100%;
      height: 10px;
      margin-top: 20px;
      margin-left: 40px;
  }
  #rssec2{
      margin-top: 10px;
      height: 40px;
  }
  #rssec3{
      margin-top: 10px;
      width: 100%;
      height: 10px;
  }
  #rssec5{
      margin: 0 100px 0; 
  }
  #rssec6{
      margin-top: 10px;
  }
}