.rmaindiv{
    width: 100%;
    height: 100%;
    position: relative;
}
.rcenterdiv{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 90%;
    width: 95%;
    border-radius: 10px;
    background-color: white;
    display: flex; 
    align-items: center; 
}
.rleft-panel{
    float: left;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}
#c1{
    width: 100%;
    height: 9%;
}
#c2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
    width: 100%;
    height: 90%;
}
.conf-buttons{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    height: 101%;
    margin: 0 15px 10px;
    row-gap: 1px;
    column-gap: 1px;

}
.conf-buttons::-webkit-scrollbar {
    width: 8px;
  }
  
  .conf-buttons::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .conf-buttons::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .conf-buttons::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  .conf-buttons::-webkit-scrollbar-thumb:horizontal {
    margin-right: -20px;
  }
  
  .conf-buttons::-webkit-scrollbar-thumb:vertical {
    margin-bottom: -20px;
  }
.square-button{
    margin: 10px 10px ;
    width: 200px;
    height: 175px;
    border: 1px solid #162451;
    border-radius: 10px;
}
.roomName{
    text-align: center;
}
.roomName{
    margin-top: 10px;
    color: #162451;
    font-weight: 500;
    text-align: center;
}
.roomIcon{
    font-family: 'Ubuntu', sans-serif;
    color: #162451;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.room-info p{
    color: #162451;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    text-align: center;
}
.room-capacity p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #162451;
    display: inline;
}
.room-type p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #162451;
    display: inline;
}
.room-loc p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #162451;
    display: inline;
}
.room-info .rdata{
    font-family: 'Source Sans Pro', sans-serif;
    color: #162451;
    font-size: 12px;
    font-weight: 700;
}
.room-reserve{
    display: flex;
    justify-content: center;
}
.reserve-btn{
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    margin: 3px 0 5px;
    height: 30px;
    width: 140px;
    border-style: none;
    background-color: #394867;
    border-radius: 5px;
}
.rdivider{
    position: absolute;
    height: 80%;
    width: .2px;
    background-color: rgb(154, 154, 154);
    left: 40%;
    transform: translateX(-60%);
}

.square-button:hover{
    background-color: #cfcfcf;
    cursor: pointer;
    border: none;
}
.panel-title{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 30px;
    color: #162451;
}


/*================================= RIGHT PANEL ===================================*/
.rright-panel{
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100%;
    width: 60%;
}
#rsec1{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 65px;
    display: flex;
}
#rcomp1{
    font-size: 25px;
    padding-top: 20px;
    padding-left: 30px;
    color: #162451;
}
#rcomp2{
    margin-left: auto;
    height: 100%;
    width: 100px;
}
#rcomp2 img{
    height: 50px;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}


#rsec2{
    margin: 20px 0 10px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}


#isec1{
    position: relative;
    width: 30%;
    height: 100%;
    margin: 0 10px 0;
}

/* Styling for the DatePicker container */
.react-datepicker-wrapper {
    display: inline-block;
    position: relative;
  }
.react-datepicker-wrapper datePicker{
    height: 20px;
    background-color: red;
}

  /* Styling for the input field */
  .react-datepicker__input-container input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    width: 150px;
    height: 30px;
  }


  
  /* Styling for the calendar days */
  .react-datepicker__day {
    padding: 0.5em;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* Styling for the selected day */
  .react-datepicker__day--selected {
    background-color: #082035;
    color: #fff;
  }
  
  
  
  
 
#isec2{
    position: relative;
    width: 30%;
    height: 100%;
}
#isec3{
    position:relative;
    width: 30%;
    height: 100%;
}
.Infolabel{
    font-size: 14px;
    height: 20px;
    width: 100%;
}
.ConfInfo{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
#roomInfo1{
    width: 100%;
    height: 35px;
}
#roomInfo2{
    width: 100%;
    height: 35px;
}
#rsec3{
    width: 100%;
    height: 30px;
    display: flex;
}
.table-header{
    margin: 0 30px 0;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border: solid 1px;
    justify-content: center;
}

#header1{
    width: 75px;
    text-align: center;
    margin: 5px 0 5px;
}
#header2{
    width: 175px;
    text-align: center;
    margin: 5px 0 5px;
}
#header3{
    width: 175px;
    text-align: center;
    margin: 5px 0 5px;

}
#header4{
    width: 190px;
    text-align: center;
    margin: 5px 0 5px;
}


#rsec4{
    display: flex;
    position: relative;
    width: 100%;
    height: 290px;
}
.wrapper{
    width: 100%;
    overflow: hidden;
    margin: 10px 30px 0;
    width: 100%;
    height: 280px;
    border-radius: 10px;
}
.table{
    height: 100%;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 10px;
}
.table::-webkit-scrollbar {
    width: 14px;
    height: 8px;
    padding-right: 10px;
    border-radius: 20px;
  }
  
.table::-webkit-scrollbar-track {
    background-color: #bbbbbb;
    border-radius: 10px;
  }
  
.table::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    margin-right: 10px;
  }
  
.table::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
.table-content{
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0;
    padding: 0 10px 0;
    width: 95%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(254, 254, 254);
}
#column1{
    width: 80px;
    text-align: center;
    margin: 10px 0 10px;
}
#column2{
    width: 185px;
    text-align: center;
    margin: 10px 0 10px;
}
#column3{
    width: 185px;
    text-align: center;
    margin: 10px 0 10px;
}
#column4{
    width: 190px;
    text-align: center;
    margin: 10px 0 10px;
}
#rsec5{
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}
#drop3{
    height: 100%;
    width: 300px;
}
#drop3 .label{
    padding-left: 30px;
}
#drop4{
    height: 100%;
    width: 300px;
}
#drop4 .label{
    padding-left: 30px;
}
#rsec6{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
}
#holder1{
    margin-top: 20px;
    width: 300px;
    display: flex;
  }
#rsec6 .submitbtn{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    height: 40px;
    width: 120px;
    background-color: #385DBB;
    color: white;
    border-style: none;
    border-radius: 10px;
    margin: 0 40px 0;
    position: absolute;
    right: 0;
  }
#rsec6 .cancelbtn{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #385DBB;
    height: 40px;
    width: 120px;
    border: 1px solid #385DBB;
    border-radius: 10px;
    position: absolute;
    right: 180px;
}
#browsers option:checked {
    background-color: #f9f9f9;
  }

/*============================ DROPDOWN ===========================*/
.drop-down {
    position: relative;
    display: inline-block;
  }
  
  .rdropdown2 {
    padding: 10px;
    margin: 0 30px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    background-color: #fff;
  }
  
  /* Style the dropdown arrow */
  .rdropdown2::after {
    content: "\25BC";
    font-size: 16px;
    color: #aaa;
    margin-left: 5px;
  }
  
  /* Style the dropdown list */
  #browsers {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    width: 150px;
    margin-top: 5px;
  }
  
  #browsers option {
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
  }
  
  /* Style the selected option */

@media screen and (max-height: 700px) {
    .square-button {
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .table{
        height: 260px;
    }
    #rsec2{
        margin-top: 0;
    }
    #rsec5{
        margin: 0;
    }
    #rsec6{
        width: 100%;
        height: 270px;
        display: flex;
        justify-content: flex-end;
    }
    #c2{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: stretch;
        width: 100%;
        height: 90%;
    }
    .conf-buttons{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: auto;
        width: 100%;
        height: 101%;
        margin: 0 15px 10px;
        row-gap: 1px;
        column-gap: 1px;
    }
    .square-button{
        margin: 10px 10px ;
        width: 200px;
        height: 155px;
        border: 1px solid #162451;
        border-radius: 10px;
    }
    .roomName{
        text-align: center;
    }
    .roomName{
        margin-top: 0px;
        color: #162451;
        font-weight: 500;
        text-align: center;
    }
    .roomIcon{
        font-family: 'Ubuntu', sans-serif;
        color: #162451;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
    }
    .room-info p{
        color: #162451;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 12px;
        text-align: center;
    }
    .room-capacity p{
        font-family: 'Source Sans Pro', sans-serif;
        color: #162451;
        display: inline;
    }
    .room-type p{
        font-family: 'Source Sans Pro', sans-serif;
        color: #162451;
        display: inline;
    }
    .room-loc p{
        font-family: 'Source Sans Pro', sans-serif;
        color: #162451;
        display: inline;
    }
    .room-info .rdata{
        font-family: 'Source Sans Pro', sans-serif;
        color: #162451;
        font-size: 12px;
        font-weight: 700;
    }
    .room-reserve{
        display: flex;
        justify-content: center;
    }
    .reserve-btn{
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        margin: 3px 0 5px;
        height: 30px;
        width: 140px;
        border-style: none;
        background-color: #394867;
        border-radius: 5px;
    }
}