.App {
  text-align: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.floor{
  display: flex;
  align-items: center;  
  flex-direction: column;
}

button{
  height: 50px;
  width: 100px;
}

.button-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 8px;
  margin: 4px;
  border: none;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}

.button.active {
  background-color: yellow;
}